/* mettre a defauut tous les autresstyles donnees par defaut */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    height: 100vh;
    /* pour mettre les elements aux centres */
    display: flex;
    justify-content: center ;
    align-items: center;
}
.Calculatrice{
    background-color: tomato;
    display: flex;
    flex-direction: column;

}
.ecran{
    width: 100%;
    height: 100px;
    background-color: rgb(196, 237, 235);
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    font-size: 25px;

}
.touche{
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: repeat(5,50px);
    grid-gap: 7px;
}
